<mat-card>
  <div class="dialog-header">
    <h1 mat-dialog-title> Test Centre Registration </h1>
    <button mat-icon-button mat-dialog-close>&times;</button>
  </div>

  <mat-dialog-content>
    <form name="centreForm" #centreForm="ngForm" (submit)="centreCreate(centreForm)">
      <mat-form-field>
        <mat-label>Centre Name</mat-label>
        <input matInput type="text" name="centreName" ngModel #centreName="ngModel" required>
        <mat-error *ngIf="centreName.invalid"> Please enter a centre name </mat-error>
      </mat-form-field>
        <button mat-raised-button color="accent" type="submit" name="registerCentre" id="registerCentre" > Register </button>
    </form>
  </mat-dialog-content>
</mat-card>
