mat-card{
  padding:1rem 1rem;
  display:grid;
}

.dialog-header h1{
  font-size:24px;
  text-align:center;
}

.dialog-header button{
  font-size:24px;
  margin: -3.5rem 0 auto auto;
}

mat-form-field,input {
  width:100%;
}

button {
  display:block;
  float: right;
  margin-bottom:2px;
}
