.manager-report{
    display:block;
}

mat-form-field{
    width: 50%;
    margin-top:0.7rem;
}

.report-data{
    margin:1rem;
}

mat-accordion{
    margin: 0.5rem;
}

mat-panel-title{
    width:35%;
}

/* mat-accordion{
    padding: 1px;
} */