:host{
  display:block;
  margin-top:2rem;
}


mat-accordion{
  display:block;
  clear:both;
}

.addbtnfloatright{
  display:block;
  background-image:linear-gradient(to left, rgb(25, 143, 31),rgb(15,199,24),#fff), linear-gradient(to right, rgb(28, 77, 15),rgb(61, 226, 69),#fff);
  background-size:200% 100%;
  background-position:-100% 0%, 19% 0%;
  background-repeat:no-repeat;
  transition:background 0.5s;
  border:0;
  outline:none;
  border-radius:5px;
  padding:11px 20px;
  font-family:Roboto, "Helvetica Neue", sans-serif;
  font-size:14px;
  font-weight:500;
  box-shadow:1px 2px 18px rgba(17,55,44,0.4);
  float:right;
  margin-bottom:2rem;
}

.addbtnfloatright:hover{
  background-position:11% 0%, -100% 0;
}

.notesterContainer{
  text-align:center;
  font-family:Roboto,"Helvetica Neue",sans-serif;
}

.mat-accent{
  display:block;
  color:rgb(155,11,1);
  float:right;
}

.mat-primary{
  display:block;
  float:right;
}
