<logo></logo>
<main>
    <mat-toolbar>
      <ul>
        <li><a routerLink="/testCentre" routerLinkActive="active">Test Centre</a> </li>
        <li><a routerLink="/recordTester" routerLinkActive="active">Tester</a></li>
        <li><a routerLink="/testKit" routerLinkActive="active">Test Kit</a></li>
        <li><a routerLink="/newTest" routerLinkActive="active">New Test</a></li>
      </ul>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <br>
  <hr>
  <br>
  
  <!-- Testing Area -->
  <testlist></testlist>
  <!-- <create-centre></create-centre> -->
  <!-- <centre-info></centre-info> -->
  <!-- <add-kit></add-kit> -->
  <!-- <update-kit></update-kit> -->
</main>
