<!-- Record new Tester Form-->
<div class="recordNewTester">
    <mat-card>
        <div class="recordNewTester-header">
            <h2 mat-card-title> New Tester </h2>
            <button mat-icon-button mat-dialog-close>&times;</button>
        </div>
        <mat-card-content>
            <form name="recordForm" ngForm #recordForm="ngForm" (submit)="recordTester(recordForm)">
                <mat-form-field>
                    <mat-label> Username </mat-label>
                    <input type="text" matInput name="username" ngModel #username="ngModel" required>
                    <mat-error *ngIf="username.invalid"> Please enter a username. </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Password </mat-label>
                    <input type="password" matInput name="password" ngModel #password="ngModel" 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <mat-error *ngIf="password.invalid"> 
                        *Please enter a password length of 8 - 20, at least one number, 
                        one lower case and one upper case letter. </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Full Name </mat-label>
                    <input type="text" matInput name="name" ngModel #name="ngModel" required>
                    <mat-error *ngIf="name.invalid"> Please enter a name. </mat-error>
                </mat-form-field>
                <button mat-flat-button type="submit" color="accent"> Register </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>

