<div class="updateKit">
    <mat-card>
        <div class="updateKit-header">
                <h2 mat-card-title> Update Test Kit's Stock </h2>
            <button mat-icon-button mat-dialog-close>&times;</button>
        </div>
        
        <form mat-from name="updateStockForm" #updateStockForm="ngForm" (submit)="updateStock(updateStockForm)">
            <mat-form-field>
                <mat-label> Test Name </mat-label>
                <mat-select name="kitID" ngModel #kitID="ngModel" required>
                    <mat-option value=""> -- </mat-option>
                    <mat-option *ngFor="let kit of testKits" [value]='kit.kitID'> {{ kit.testName }} </mat-option>
                </mat-select>
                <mat-error *ngIf="kitID.invalid"> Please select one Test </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label> Stock Number </mat-label>
                <input type='number' matInput name='stockNum' ngModel #availableStock='ngModel' min='0' required>
                <mat-error *ngIf="availableStock.invalid"> Please enter a stock number </mat-error>
                <!-- <mat-error *ngIf="availableStock.errors"> Stock must be greater than or equal to 1 </mat-error> -->
              </mat-form-field>
              <button mat-flat-button type="submit" color="accent"> Update </button>
        </form>
    </mat-card>
</div>