:host{
  display:block;
  margin-top:2rem;
}

.notesterContainer{
  text-align:center;
  font-family:Roboto,"Helvetica Neue",sans-serif;
}

mat-expansion-panel{
  clear:both;
}

.addbtnfloatright{
  float:right;
}
.mat-content{
  display:flex;
  justify-content:space-between;
  align-items:baseline;
}

mat-expansion-panel-header button{
  display:none;
}

mat-expansion-panel-header:hover button{
  display:inline-block;
}
