<courseform *ngIf="testlists.length>0" [ngClass]="'addbtnfloatright'"></courseform>
<mat-accordion multi="true" *ngIf="testlists.length>0">
  <mat-expansion-panel *ngFor="let test of testlists, let i = index">
    <p *ngIf="testlists.length>0 && testlists.length<10">Test Index: T00{{i+1}}</p>
    <mat-expansion-panel-header>
      {{test.testname}}
      <span class="actionbutton">
      <button mat-icon-button><mat-icon>launch</mat-icon></button>
      <button mat-icon-button><mat-icon>delete_outline</mat-icon></button>
    </span>
    </mat-expansion-panel-header>
    <p> {{test.testresult}}</p>
    <p> {{test.patienttype}}</p>
  </mat-expansion-panel>
</mat-accordion>

<div [ngClass]="'notesterContainer'" *ngIf="testlists.length ==0 ">
  <img src="../../assets/img/noTestResultHvBg-removebg-preview.png">
  <h1> Oh,ooh</h1>
  <p>There is no test report saved here yet. Please click the very obvious appearing "Add New Test" button to create a new test report</p>
  <courseform></courseform>
</div>


